* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Andika", sans-serif;
}

.pagina {
  display: grid;
  grid-template-rows: 200px 1fr 200px;
  grid-template-columns: 100%;
  grid-template-areas: "head" "main" "footer";
}
.pagina header {
  grid-area: head;
  background-color: #254692;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 5px;
  justify-content: space-around;
  align-content: center;
}
.pagina header a {
  align-self: center;
  justify-self: center;
}
.pagina header a h1 {
  font-size: 3rem;
  text-decoration: underline;
  color: white;
  text-shadow: 0 0 15px black;
}
.pagina header .navegador {
  align-self: center;
}
.pagina header .navegador ul a {
  color: white;
  text-shadow: 0 0 15px black;
  text-decoration: none;
  list-style-type: none;
}
.pagina main {
  grid-area: main;
  background-image: url(../img/home/fondo-pagina);
  background-size: cover;
  width: 100%;
}
.pagina footer {
  grid-area: footer;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  background-color: rgba(71, 61, 139, 0.651);
}
.pagina footer a {
  text-decoration: none;
  color: black;
}

header h1 {
  color: white;
  text-shadow: 0 0 15px black;
  text-decoration: underline;
  justify-content: center;
  align-self: center;
}

main.index {
  padding: 15px;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 45vw);
  grid-template-rows: 60% 40%;
  gap: 2vw 2vw;
  grid-template-areas: "banner evento" "trailer trailer";
}
main .banner {
  grid-area: banner;
}
main .banner img {
  width: 100%;
  height: 100%;
}
main .eventos {
  grid-area: evento;
}
main .eventos img {
  width: 100%;
  height: 100%;
}
main .trailer {
  grid-area: trailer;
}
main .trailer iframe {
  width: 100%;
  height: 90%;
}

/*Bucle*/
.main-artefactos .mondstand .mpos_1 {
  padding: 10px;
}
.main-artefactos .mondstand .mpos_1 img {
  grid-area: pos_1;
  width: 100%;
  height: 100%;
}
.main-artefactos .mondstand .mpos_2 {
  padding: 10px;
}
.main-artefactos .mondstand .mpos_2 img {
  grid-area: pos_2;
  width: 100%;
  height: 100%;
}
.main-artefactos .mondstand .mpos_3 {
  padding: 10px;
}
.main-artefactos .mondstand .mpos_3 img {
  grid-area: pos_3;
  width: 100%;
  height: 100%;
}
.main-artefactos .mondstand .mpos_4 {
  padding: 10px;
}
.main-artefactos .mondstand .mpos_4 img {
  grid-area: pos_4;
  width: 100%;
  height: 100%;
}
.main-artefactos .mondstand .mpos_5 {
  padding: 10px;
}
.main-artefactos .mondstand .mpos_5 img {
  grid-area: pos_5;
  width: 100%;
  height: 100%;
}
.main-artefactos .mondstand .mpos_6 {
  padding: 10px;
}
.main-artefactos .mondstand .mpos_6 img {
  grid-area: pos_6;
  width: 100%;
  height: 100%;
}
.main-artefactos .mondstand .mpos_7 {
  padding: 10px;
}
.main-artefactos .mondstand .mpos_7 img {
  grid-area: pos_7;
  width: 100%;
  height: 100%;
}
.main-artefactos .mondstand .mpos_8 {
  padding: 10px;
}
.main-artefactos .mondstand .mpos_8 img {
  grid-area: pos_8;
  width: 100%;
  height: 100%;
}
.main-artefactos .liyue .lpos_1 {
  padding: 10px;
}
.main-artefactos .liyue .lpos_1 img {
  grid-area: pos_1;
  width: 100%;
  height: 100%;
}
.main-artefactos .liyue .lpos_2 {
  padding: 10px;
}
.main-artefactos .liyue .lpos_2 img {
  grid-area: pos_2;
  width: 100%;
  height: 100%;
}
.main-artefactos .liyue .lpos_3 {
  padding: 10px;
}
.main-artefactos .liyue .lpos_3 img {
  grid-area: pos_3;
  width: 100%;
  height: 100%;
}
.main-artefactos .liyue .lpos_4 {
  padding: 10px;
}
.main-artefactos .liyue .lpos_4 img {
  grid-area: pos_4;
  width: 100%;
  height: 100%;
}
.main-artefactos .liyue .lpos_5 {
  padding: 10px;
}
.main-artefactos .liyue .lpos_5 img {
  grid-area: pos_5;
  width: 100%;
  height: 100%;
}
.main-artefactos .liyue .lpos_6 {
  padding: 10px;
}
.main-artefactos .liyue .lpos_6 img {
  grid-area: pos_6;
  width: 100%;
  height: 100%;
}
.main-artefactos .liyue .lpos_7 {
  padding: 10px;
}
.main-artefactos .liyue .lpos_7 img {
  grid-area: pos_7;
  width: 100%;
  height: 100%;
}
.main-artefactos .liyue .lpos_8 {
  padding: 10px;
}
.main-artefactos .liyue .lpos_8 img {
  grid-area: pos_8;
  width: 100%;
  height: 100%;
}
.main-artefactos .inazuma .ipos_1 {
  padding: 10px;
}
.main-artefactos .inazuma .ipos_1 img {
  grid-area: pos_1;
  width: 100%;
  height: 100%;
}
.main-artefactos .inazuma .ipos_2 {
  padding: 10px;
}
.main-artefactos .inazuma .ipos_2 img {
  grid-area: pos_2;
  width: 100%;
  height: 100%;
}
.main-artefactos .inazuma .ipos_3 {
  padding: 10px;
}
.main-artefactos .inazuma .ipos_3 img {
  grid-area: pos_3;
  width: 100%;
  height: 100%;
}
.main-artefactos .inazuma .ipos_4 {
  padding: 10px;
}
.main-artefactos .inazuma .ipos_4 img {
  grid-area: pos_4;
  width: 100%;
  height: 100%;
}
.main-artefactos .inazuma .ipos_5 {
  padding: 10px;
}
.main-artefactos .inazuma .ipos_5 img {
  grid-area: pos_5;
  width: 100%;
  height: 100%;
}
.main-artefactos .inazuma .ipos_6 {
  padding: 10px;
}
.main-artefactos .inazuma .ipos_6 img {
  grid-area: pos_6;
  width: 100%;
  height: 100%;
}
.main-artefactos .inazuma .ipos_7 {
  padding: 10px;
}
.main-artefactos .inazuma .ipos_7 img {
  grid-area: pos_7;
  width: 100%;
  height: 100%;
}
.main-artefactos .inazuma .ipos_8 {
  padding: 10px;
}
.main-artefactos .inazuma .ipos_8 img {
  grid-area: pos_8;
  width: 100%;
  height: 100%;
}

/* Estrucura de la pagina */
.grids, .armas .cn_estrellas, .main-artefactos .inazuma, .main-artefactos .liyue, .main-artefactos .mondstand {
  padding: 50px;
  gap: 5px;
  justify-items: center;
  align-items: center;
}
.grids h2, .armas .cn_estrellas h2, .main-artefactos .inazuma h2, .main-artefactos .liyue h2, .main-artefactos .mondstand h2 {
  grid-area: titulo;
  text-shadow: 0 0 5px white;
}

.main-artefactos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
  grid-template-areas: "mondstand" "liyue" "inazuma";
  /*seccion*/
  /*seccion*/
  /*seccion*/
}
.main-artefactos section {
  background-color: rgba(0, 0, 0, 0.384);
  background-size: 100%;
}
.main-artefactos .mondstand {
  grid-area: mondstand;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 2fr 2fr;
  grid-template-areas: "titulo titulo titulo titulo" "pos_1 pos_2 pos_3 pos_4" "pos_5 pos_6 pos_7 pos_8";
}
.main-artefactos .liyue {
  grid-area: liyue;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 2fr 2fr;
  grid-template-areas: "titulo titulo titulo titulo" "pos_1 pos_2 pos_3 pos_4" "pos_5 pos_6 pos_7 pos_8";
}
.main-artefactos .inazuma {
  grid-area: inazuma;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 2fr 2fr;
  grid-template-areas: "titulo titulo titulo " "pos_1 pos_2 pos_3 " "pos_4 pos_5 pos_6";
}

.armas .cn_estrellas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(11, 1fr);
  grid-template-areas: "titulo titulo titulo  " "Apos_1 Apos_2 Apos_3 " "Apos_4 Apos_5 Apos_6 " "Apos_7 Apos_8 Apos_9 " "Apos_10 Apos_11 Apos_12 " "Apos_13 Apos_14 Apos_15 " "Apos_16 Apos_17 Apos_18 " "Apos_19 Apos_20 Apos_21 " "Apos_22 Apos_23 Apos_24" "Apos_25 Apos_26 Apos_27" "Apos_28 Apos_29 .";
  background-color: rgba(0, 0, 0, 0.397);
  background-size: 100%;
  margin: 10px 0px;
  gap: 30px 10px;
}
.armas .cn_estrellas div {
  width: 130px;
  height: 130px;
}
.armas .cn_estrellas div:hover {
  background-color: rgba(128, 128, 128, 0.507);
}
.armas .cn_estrellas h2 {
  grid-area: titulo;
  font-size: 2rem;
  text-decoration: underline;
}
.armas .cn_estrellas .Apos_0 {
  border: 2px solid black;
  border-radius: 5px;
}
.armas .cn_estrellas .Apos_0 img {
  grid-area: Apos_0;
  width: 126px;
  height: 126px;
  background-color: rgba(128, 128, 128, 0.39);
}
.armas .cn_estrellas .Apos_1 {
  border: 2px solid black;
  border-radius: 5px;
}
.armas .cn_estrellas .Apos_1 img {
  grid-area: Apos_1;
  width: 126px;
  height: 126px;
  background-color: rgba(128, 128, 128, 0.39);
}
.armas .cn_estrellas .Apos_2 {
  border: 2px solid black;
  border-radius: 5px;
}
.armas .cn_estrellas .Apos_2 img {
  grid-area: Apos_2;
  width: 126px;
  height: 126px;
  background-color: rgba(128, 128, 128, 0.39);
}
.armas .cn_estrellas .Apos_3 {
  border: 2px solid black;
  border-radius: 5px;
}
.armas .cn_estrellas .Apos_3 img {
  grid-area: Apos_3;
  width: 126px;
  height: 126px;
  background-color: rgba(128, 128, 128, 0.39);
}
.armas .cn_estrellas .Apos_4 {
  border: 2px solid black;
  border-radius: 5px;
}
.armas .cn_estrellas .Apos_4 img {
  grid-area: Apos_4;
  width: 126px;
  height: 126px;
  background-color: rgba(128, 128, 128, 0.39);
}
.armas .cn_estrellas .Apos_5 {
  border: 2px solid black;
  border-radius: 5px;
}
.armas .cn_estrellas .Apos_5 img {
  grid-area: Apos_5;
  width: 126px;
  height: 126px;
  background-color: rgba(128, 128, 128, 0.39);
}
.armas .cn_estrellas .Apos_6 {
  border: 2px solid black;
  border-radius: 5px;
}
.armas .cn_estrellas .Apos_6 img {
  grid-area: Apos_6;
  width: 126px;
  height: 126px;
  background-color: rgba(128, 128, 128, 0.39);
}
.armas .cn_estrellas .Apos_7 {
  border: 2px solid black;
  border-radius: 5px;
}
.armas .cn_estrellas .Apos_7 img {
  grid-area: Apos_7;
  width: 126px;
  height: 126px;
  background-color: rgba(128, 128, 128, 0.39);
}
.armas .cn_estrellas .Apos_8 {
  border: 2px solid black;
  border-radius: 5px;
}
.armas .cn_estrellas .Apos_8 img {
  grid-area: Apos_8;
  width: 126px;
  height: 126px;
  background-color: rgba(128, 128, 128, 0.39);
}
.armas .cn_estrellas .Apos_9 {
  border: 2px solid black;
  border-radius: 5px;
}
.armas .cn_estrellas .Apos_9 img {
  grid-area: Apos_9;
  width: 126px;
  height: 126px;
  background-color: rgba(128, 128, 128, 0.39);
}
.armas .cn_estrellas .Apos_10 {
  border: 2px solid black;
  border-radius: 5px;
}
.armas .cn_estrellas .Apos_10 img {
  grid-area: Apos_10;
  width: 126px;
  height: 126px;
  background-color: rgba(128, 128, 128, 0.39);
}
.armas .cn_estrellas .Apos_11 {
  border: 2px solid black;
  border-radius: 5px;
}
.armas .cn_estrellas .Apos_11 img {
  grid-area: Apos_11;
  width: 126px;
  height: 126px;
  background-color: rgba(128, 128, 128, 0.39);
}
.armas .cn_estrellas .Apos_12 {
  border: 2px solid black;
  border-radius: 5px;
}
.armas .cn_estrellas .Apos_12 img {
  grid-area: Apos_12;
  width: 126px;
  height: 126px;
  background-color: rgba(128, 128, 128, 0.39);
}
.armas .cn_estrellas .Apos_13 {
  border: 2px solid black;
  border-radius: 5px;
}
.armas .cn_estrellas .Apos_13 img {
  grid-area: Apos_13;
  width: 126px;
  height: 126px;
  background-color: rgba(128, 128, 128, 0.39);
}
.armas .cn_estrellas .Apos_14 {
  border: 2px solid black;
  border-radius: 5px;
}
.armas .cn_estrellas .Apos_14 img {
  grid-area: Apos_14;
  width: 126px;
  height: 126px;
  background-color: rgba(128, 128, 128, 0.39);
}
.armas .cn_estrellas .Apos_15 {
  border: 2px solid black;
  border-radius: 5px;
}
.armas .cn_estrellas .Apos_15 img {
  grid-area: Apos_15;
  width: 126px;
  height: 126px;
  background-color: rgba(128, 128, 128, 0.39);
}
.armas .cn_estrellas .Apos_16 {
  border: 2px solid black;
  border-radius: 5px;
}
.armas .cn_estrellas .Apos_16 img {
  grid-area: Apos_16;
  width: 126px;
  height: 126px;
  background-color: rgba(128, 128, 128, 0.39);
}
.armas .cn_estrellas .Apos_17 {
  border: 2px solid black;
  border-radius: 5px;
}
.armas .cn_estrellas .Apos_17 img {
  grid-area: Apos_17;
  width: 126px;
  height: 126px;
  background-color: rgba(128, 128, 128, 0.39);
}
.armas .cn_estrellas .Apos_18 {
  border: 2px solid black;
  border-radius: 5px;
}
.armas .cn_estrellas .Apos_18 img {
  grid-area: Apos_18;
  width: 126px;
  height: 126px;
  background-color: rgba(128, 128, 128, 0.39);
}
.armas .cn_estrellas .Apos_19 {
  border: 2px solid black;
  border-radius: 5px;
}
.armas .cn_estrellas .Apos_19 img {
  grid-area: Apos_19;
  width: 126px;
  height: 126px;
  background-color: rgba(128, 128, 128, 0.39);
}
.armas .cn_estrellas .Apos_20 {
  border: 2px solid black;
  border-radius: 5px;
}
.armas .cn_estrellas .Apos_20 img {
  grid-area: Apos_20;
  width: 126px;
  height: 126px;
  background-color: rgba(128, 128, 128, 0.39);
}
.armas .cn_estrellas .Apos_21 {
  border: 2px solid black;
  border-radius: 5px;
}
.armas .cn_estrellas .Apos_21 img {
  grid-area: Apos_21;
  width: 126px;
  height: 126px;
  background-color: rgba(128, 128, 128, 0.39);
}
.armas .cn_estrellas .Apos_22 {
  border: 2px solid black;
  border-radius: 5px;
}
.armas .cn_estrellas .Apos_22 img {
  grid-area: Apos_22;
  width: 126px;
  height: 126px;
  background-color: rgba(128, 128, 128, 0.39);
}
.armas .cn_estrellas .Apos_23 {
  border: 2px solid black;
  border-radius: 5px;
}
.armas .cn_estrellas .Apos_23 img {
  grid-area: Apos_23;
  width: 126px;
  height: 126px;
  background-color: rgba(128, 128, 128, 0.39);
}
.armas .cn_estrellas .Apos_24 {
  border: 2px solid black;
  border-radius: 5px;
}
.armas .cn_estrellas .Apos_24 img {
  grid-area: Apos_24;
  width: 126px;
  height: 126px;
  background-color: rgba(128, 128, 128, 0.39);
}
.armas .cn_estrellas .Apos_25 {
  border: 2px solid black;
  border-radius: 5px;
}
.armas .cn_estrellas .Apos_25 img {
  grid-area: Apos_25;
  width: 126px;
  height: 126px;
  background-color: rgba(128, 128, 128, 0.39);
}
.armas .cn_estrellas .Apos_26 {
  border: 2px solid black;
  border-radius: 5px;
}
.armas .cn_estrellas .Apos_26 img {
  grid-area: Apos_26;
  width: 126px;
  height: 126px;
  background-color: rgba(128, 128, 128, 0.39);
}
.armas .cn_estrellas .Apos_27 {
  border: 2px solid black;
  border-radius: 5px;
}
.armas .cn_estrellas .Apos_27 img {
  grid-area: Apos_27;
  width: 126px;
  height: 126px;
  background-color: rgba(128, 128, 128, 0.39);
}
.armas .cn_estrellas .Apos_28 {
  border: 2px solid black;
  border-radius: 5px;
}
.armas .cn_estrellas .Apos_28 img {
  grid-area: Apos_28;
  width: 126px;
  height: 126px;
  background-color: rgba(128, 128, 128, 0.39);
}
.armas .cn_estrellas .Apos_29 {
  border: 2px solid black;
  border-radius: 5px;
}
.armas .cn_estrellas .Apos_29 img {
  grid-area: Apos_29;
  width: 126px;
  height: 126px;
  background-color: rgba(128, 128, 128, 0.39);
}

.ajustar, .noticias .n_6 h2, .noticias .n_6 img, .noticias .n_5 h2, .noticias .n_5 img, .noticias .n_4 h2, .noticias .n_4 img, .noticias .n_3 h2, .noticias .n_3 img, .noticias .n_2 h2, .noticias .n_2 img, .noticias .n_1 h2, .noticias .n_1 img {
  justify-self: center;
  align-self: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  margin: 5px;
}

.noticias .fondo {
  background-color: rgba(12, 12, 12, 0.48);
  margin: 2vw 5vw;
}
.noticias .n_1 {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "img img" "img img" "titulo titulo";
}
.noticias .n_1 img {
  grid-area: img;
}
.noticias .n_1 h2 {
  grid-area: titulo;
  text-align: center;
  color: white;
}
.noticias .n_2 {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "img img" "img img" "titulo titulo";
}
.noticias .n_2 img {
  grid-area: img;
}
.noticias .n_2 h2 {
  grid-area: titulo;
  text-align: center;
  color: white;
}
.noticias .n_3 {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "img img" "img img" "titulo titulo";
}
.noticias .n_3 img {
  grid-area: img;
}
.noticias .n_3 h2 {
  grid-area: titulo;
  text-align: center;
  color: white;
}
.noticias .n_4 {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "img img" "img img" "titulo titulo";
}
.noticias .n_4 img {
  grid-area: img;
}
.noticias .n_4 h2 {
  grid-area: titulo;
  text-align: center;
  color: white;
}
.noticias .n_5 {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "img img" "img img" "titulo titulo";
}
.noticias .n_5 img {
  grid-area: img;
}
.noticias .n_5 h2 {
  grid-area: titulo;
  text-align: center;
  color: white;
}
.noticias .n_6 {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "img img" "img img" "titulo titulo";
}
.noticias .n_6 img {
  grid-area: img;
}
.noticias .n_6 h2 {
  grid-area: titulo;
  text-align: center;
  color: white;
}

/*  EXTENDS  */
.detalles, .personajes .geo, .personajes .electro, .personajes .cryo, .personajes .hydro, .personajes .pyro, .personajes .anemo {
  background-color: rgba(0, 0, 0, 0.384);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 10px;
  margin: 15px 0px;
  gap: 5px;
}

.titulo, .personajes .geo h2, .personajes .electro h2, .personajes .cryo h2, .personajes .hydro h2, .personajes .pyro h2, .personajes .anemo h2 {
  grid-area: titulo;
  text-align: center;
  font-size: 2rem;
  text-decoration: underline;
  color: black;
  text-shadow: 0 0 15px white;
}

.div, .personajes .geo .p_7, .personajes .geo .p_6, .personajes .geo .p_5, .personajes .geo .p_4, .personajes .geo .p_3, .personajes .geo .p_2, .personajes .geo .p_1, .personajes .electro .p_9, .personajes .electro .p_8, .personajes .electro .p_7, .personajes .electro .p_6, .personajes .electro .p_5, .personajes .electro .p_4, .personajes .electro .p_3, .personajes .electro .p_2, .personajes .electro .p_1, .personajes .cryo .p_10, .personajes .cryo .p_9, .personajes .cryo .p_8, .personajes .cryo .p_7, .personajes .cryo .p_6, .personajes .cryo .p_5, .personajes .cryo .p_4, .personajes .cryo .p_3, .personajes .cryo .p_2, .personajes .cryo .p_1, .personajes .hydro .p_7, .personajes .hydro .p_6, .personajes .hydro .p_5, .personajes .hydro .p_4, .personajes .hydro .p_3, .personajes .hydro .p_2, .personajes .hydro .p_1, .personajes .pyro .p_10, .personajes .pyro .p_9, .personajes .pyro .p_8, .personajes .pyro .p_7, .personajes .pyro .p_6, .personajes .pyro .p_5, .personajes .pyro .p_4, .personajes .pyro .p_3, .personajes .pyro .p_2, .personajes .pyro .p_1, .personajes .anemo .p_6, .personajes .anemo .p_5, .personajes .anemo .p_4, .personajes .anemo .p_3, .personajes .anemo .p_2, .personajes .anemo .p_1 {
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgba(128, 128, 128, 0.267);
  justify-self: center;
  align-self: center;
}

/*  PAGINA  */
.personajes {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas: "anemo" "pyro" "electro" "geo" "hydro" "pyro";
}
.personajes .anemo {
  grid-area: anemo;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "titulo titulo titulo" "p_1 p_2 p_3" "p_4 p_5 p_6";
  background-image: url(../Img/personajes/anemo/Anemo.webp);
}
.personajes .anemo .p_1 img {
  grid-area: p_1;
  width: 100%;
  height: 100%;
}
.personajes .anemo .p_2 img {
  grid-area: p_2;
  width: 100%;
  height: 100%;
}
.personajes .anemo .p_3 img {
  grid-area: p_3;
  width: 100%;
  height: 100%;
}
.personajes .anemo .p_4 img {
  grid-area: p_4;
  width: 100%;
  height: 100%;
}
.personajes .anemo .p_5 img {
  grid-area: p_5;
  width: 100%;
  height: 100%;
}
.personajes .anemo .p_6 img {
  grid-area: p_6;
  width: 100%;
  height: 100%;
}
.personajes .pyro {
  grid-area: pyro;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "titulo titulo titulo titulo" "p_1 p_2 p_3 p_4" "p_5 p_6 p_7 p_8" "p_9 p_10 . . ";
  background-image: url(../Img/personajes/pyro/Pyro.webp);
}
.personajes .pyro .p_1 img {
  grid-area: p_1;
  width: 100%;
  height: 100%;
}
.personajes .pyro .p_2 img {
  grid-area: p_2;
  width: 100%;
  height: 100%;
}
.personajes .pyro .p_3 img {
  grid-area: p_3;
  width: 100%;
  height: 100%;
}
.personajes .pyro .p_4 img {
  grid-area: p_4;
  width: 100%;
  height: 100%;
}
.personajes .pyro .p_5 img {
  grid-area: p_5;
  width: 100%;
  height: 100%;
}
.personajes .pyro .p_6 img {
  grid-area: p_6;
  width: 100%;
  height: 100%;
}
.personajes .pyro .p_7 img {
  grid-area: p_7;
  width: 100%;
  height: 100%;
}
.personajes .pyro .p_8 img {
  grid-area: p_8;
  width: 100%;
  height: 100%;
}
.personajes .pyro .p_9 img {
  grid-area: p_9;
  width: 100%;
  height: 100%;
}
.personajes .pyro .p_10 img {
  grid-area: p_10;
  width: 100%;
  height: 100%;
}
.personajes .hydro {
  grid-area: hydro;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "titulo titulo titulo titulo" "p_1 p_2 p_3 p_4" "p_5 p_6 p_7 .";
  background-image: url(../Img/personajes/hydro/Hydro.webp);
}
.personajes .hydro .p_1 img {
  grid-area: p_1;
  width: 100%;
  height: 100%;
}
.personajes .hydro .p_2 img {
  grid-area: p_2;
  width: 100%;
  height: 100%;
}
.personajes .hydro .p_3 img {
  grid-area: p_3;
  width: 100%;
  height: 100%;
}
.personajes .hydro .p_4 img {
  grid-area: p_4;
  width: 100%;
  height: 100%;
}
.personajes .hydro .p_5 img {
  grid-area: p_5;
  width: 100%;
  height: 100%;
}
.personajes .hydro .p_6 img {
  grid-area: p_6;
  width: 100%;
  height: 100%;
}
.personajes .hydro .p_7 img {
  grid-area: p_7;
  width: 100%;
  height: 100%;
}
.personajes .cryo {
  grid-area: cryo;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "titulo titulo titulo titulo" "p_1 p_2 p_3 p_4" "p_5 p_6 p_7 p_8" "p_9 p_10 . .";
  background-image: url(../Img/personajes/cryo/Cryo.webp);
}
.personajes .cryo .p_1 img {
  grid-area: p_1;
  width: 100%;
  height: 100%;
}
.personajes .cryo .p_2 img {
  grid-area: p_2;
  width: 100%;
  height: 100%;
}
.personajes .cryo .p_3 img {
  grid-area: p_3;
  width: 100%;
  height: 100%;
}
.personajes .cryo .p_4 img {
  grid-area: p_4;
  width: 100%;
  height: 100%;
}
.personajes .cryo .p_5 img {
  grid-area: p_5;
  width: 100%;
  height: 100%;
}
.personajes .cryo .p_6 img {
  grid-area: p_6;
  width: 100%;
  height: 100%;
}
.personajes .cryo .p_7 img {
  grid-area: p_7;
  width: 100%;
  height: 100%;
}
.personajes .cryo .p_8 img {
  grid-area: p_8;
  width: 100%;
  height: 100%;
}
.personajes .cryo .p_9 img {
  grid-area: p_9;
  width: 100%;
  height: 100%;
}
.personajes .cryo .p_10 img {
  grid-area: p_10;
  width: 100%;
  height: 100%;
}
.personajes .electro {
  grid-area: electro;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "titulo titulo titulo titulo" "p_1 p_2 p_3 p_4" "p_5 p_6 p_7 p_8" "p_9 . . .";
  background-image: url(../Img/personajes/electro/Electro.webp);
}
.personajes .electro .p_1 img {
  grid-area: p_1;
  width: 100%;
  height: 100%;
}
.personajes .electro .p_2 img {
  grid-area: p_2;
  width: 100%;
  height: 100%;
}
.personajes .electro .p_3 img {
  grid-area: p_3;
  width: 100%;
  height: 100%;
}
.personajes .electro .p_4 img {
  grid-area: p_4;
  width: 100%;
  height: 100%;
}
.personajes .electro .p_5 img {
  grid-area: p_5;
  width: 100%;
  height: 100%;
}
.personajes .electro .p_6 img {
  grid-area: p_6;
  width: 100%;
  height: 100%;
}
.personajes .electro .p_7 img {
  grid-area: p_7;
  width: 100%;
  height: 100%;
}
.personajes .electro .p_8 img {
  grid-area: p_8;
  width: 100%;
  height: 100%;
}
.personajes .electro .p_9 img {
  grid-area: p_9;
  width: 100%;
  height: 100%;
}
.personajes .geo {
  grid-area: geo;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "titulo titulo titulo titulo" "p_1 p_2 p_3 p_4" "p_5 p_6 p_7 .";
  background-image: url(../Img/personajes/geo/Geo.webp);
}
.personajes .geo .p_1 img {
  grid-area: p_1;
  width: 100%;
  height: 100%;
}
.personajes .geo .p_2 img {
  grid-area: p_2;
  width: 100%;
  height: 100%;
}
.personajes .geo .p_3 img {
  grid-area: p_3;
  width: 100%;
  height: 100%;
}
.personajes .geo .p_4 img {
  grid-area: p_4;
  width: 100%;
  height: 100%;
}
.personajes .geo .p_5 img {
  grid-area: p_5;
  width: 100%;
  height: 100%;
}
.personajes .geo .p_6 img {
  grid-area: p_6;
  width: 100%;
  height: 100%;
}
.personajes .geo .p_7 img {
  grid-area: p_7;
  width: 100%;
  height: 100%;
}

.centrar, .tarjeta_personaje main .armas .img, .tarjeta_personaje main .armas h2, .tarjeta_personaje main .talentos .p3, .tarjeta_personaje main .talentos .p2, .tarjeta_personaje main .talentos .p1, .tarjeta_personaje main .talentos .t3, .tarjeta_personaje main .talentos .t2, .tarjeta_personaje main .talentos .t1, .tarjeta_personaje main .p_artefactos .img_a, .tarjeta_personaje main .personaje, .tarjeta_personaje header h1 {
  justify-self: center;
  align-self: center;
}

.tarjeta_personaje {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr 150px;
  grid-template-areas: "header" "main" "footer";
  /*background-image: url(../Img/home/fondo-pagina);
  background-repeat: no-repeat;
  background-size: cover;*/
}
.tarjeta_personaje header {
  grid-area: header;
  display: grid;
  width: 100%;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  grid-template-areas: "boton nombre";
  background-color: rgb(71, 61, 139);
}
.tarjeta_personaje header a {
  grid-area: boton;
  font-size: 1rem;
  border: 3px solid black;
  border-radius: 8px;
  justify-self: center;
  padding: 5px;
  text-decoration: none;
  color: black;
}
.tarjeta_personaje header h1 {
  grid-area: nombre;
  font-size: 2rem;
  text-decoration: none;
}
.tarjeta_personaje main {
  display: grid;
  width: 100%;
  gap: 10px 0px;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr repeat(2, 1.5fr) 1fr 1.5fr repeat(2, 2fr);
  grid-template-areas: "img" "info" "artefactos" "prioridades" "talentos" "armas" "sinergia";
  /*background-color: rgba(0, 0, 0, 0.600);*/
}
.tarjeta_personaje main .personaje {
  grid-area: img;
  width: 90%;
  height: 90%;
}
.tarjeta_personaje main .info {
  grid-area: info;
  text-align: center;
  align-self: center;
  font-size: 1.2rem;
}
.tarjeta_personaje main .p_artefactos {
  grid-area: artefactos;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: "titulo" "img";
}
.tarjeta_personaje main .p_artefactos p {
  grid-area: titulo;
  text-align: center;
  align-self: center;
  font-size: 1.4rem;
}
.tarjeta_personaje main .p_artefactos .img_a {
  grid-area: img;
}
.tarjeta_personaje main .p_artefactos .img_a img {
  padding: 5px;
  margin: 5px;
  background-color: darkgrey;
  border-radius: 20px;
  width: 80px;
  height: 80px;
}
.tarjeta_personaje main .stats {
  grid-area: prioridades;
  display: grid;
  grid-template-columns: repeat(2, 1fr) 1.2fr;
  grid-template-rows: 3fr 1fr;
  grid-template-areas: "reloj caliz corona" "texto texto texto";
}
.tarjeta_personaje main .stats .reloj {
  grid-area: reloj;
  text-align: center;
}
.tarjeta_personaje main .stats .caliz {
  grid-area: caliz;
  text-align: center;
}
.tarjeta_personaje main .stats .corona {
  grid-area: corona;
  text-align: center;
}
.tarjeta_personaje main .stats p.texto {
  grid-area: texto;
  text-align: center;
  font-size: 1.2rem;
}
.tarjeta_personaje main .stats p.texto strong {
  border: 1px solid black;
  padding: 2px;
  border-radius: 10px;
}
.tarjeta_personaje main .talentos {
  grid-area: talentos;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.5fr 1fr 0.5fr 1fr;
  grid-template-areas: "talento talento talento" "t1 t2 t3" "pasiva pasiva pasiva" "p1 p2 p3";
}
.tarjeta_personaje main .talentos .talento {
  grid-area: talento;
  text-align: center;
}
.tarjeta_personaje main .talentos .t1 {
  grid-area: t1;
  width: 70px;
  height: 70px;
}
.tarjeta_personaje main .talentos .t2 {
  grid-area: t2;
  width: 70px;
  height: 70px;
}
.tarjeta_personaje main .talentos .t3 {
  grid-area: t3;
  width: 70px;
  height: 70px;
}
.tarjeta_personaje main .talentos .pasivas {
  grid-area: pasiva;
  text-align: center;
}
.tarjeta_personaje main .talentos .p1 {
  grid-area: p1;
  width: 70px;
  height: 70px;
}
.tarjeta_personaje main .talentos .p2 {
  grid-area: p2;
  width: 70px;
  height: 70px;
}
.tarjeta_personaje main .talentos .p3 {
  grid-area: p3;
  width: 70px;
  height: 70px;
}
.tarjeta_personaje main .armas {
  grid-area: armas;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr;
  grid-template-areas: "titulo" "armas";
}
.tarjeta_personaje main .armas h2 {
  grid-area: titulo;
  font-size: 1.5rem;
}
.tarjeta_personaje main .armas .img {
  grid-area: armas;
  padding-inline: 10%;
  text-align: center;
}
.tarjeta_personaje main .armas .img img {
  padding: 5px;
  margin: 5px;
  background-color: darkgrey;
  border-radius: 20px;
  width: 110;
  height: 110px;
}
.tarjeta_personaje main .grupos {
  grid-area: sinergia;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr;
  grid-template-areas: "titulo" "img";
}
.tarjeta_personaje main .grupos h2 {
  grid-area: titulo;
  text-align: center;
  align-self: center;
  font-size: 1.5rem;
}
.tarjeta_personaje main .grupos .img {
  grid-area: img;
  text-align: center;
}
.tarjeta_personaje main .grupos .img img {
  padding: 5px;
  margin: 5px;
  background-color: darkgrey;
  border-radius: 20px;
}

/*  Media queries del Layout    */
@media (min-width: 600px) {
  .pagina header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "titulo" "navegador";
  }
  .pagina header h1 {
    grid-area: titulo;
    text-align: center;
    font-size: 2.5rem;
  }
  .pagina header .navegador {
    grid-area: navegador;
  }
  .pagina header .navegador ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .pagina header .navegador ul li {
    font-size: 1.5rem;
  }
  .pagina header .navegador ul li:hover {
    background-color: #2655c5;
    border-radius: 15px;
    padding: 3px 6px;
  }
  .pagina footer {
    height: 100%;
  }
  .pagina footer h2 {
    font-size: 1.5rem;
  }
  /*  INDEX   */
}
@media (min-width: 600px) and (min-width: 480px) {
  main.index {
    padding: 15px;
    display: grid;
    gap: 0px 5px;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "banner banner . . . . evento evento" "banner banner . . . . evento evento" "banner banner trailer trailer trailer trailer evento evento" "banner banner trailer trailer trailer trailer evento evento" "banner banner trailer trailer trailer trailer evento evento";
  }
  main.index .banner {
    grid-area: banner;
  }
  main.index .banner img {
    width: 100%;
    height: 100%;
  }
  main.index .eventos {
    grid-area: evento;
  }
  main.index .eventos img {
    width: 100%;
    height: 100%;
  }
  main.index .trailer {
    grid-area: trailer;
  }
  main.index .trailer iframe {
    width: 100%;
    height: 100%;
  }
}
/*  ARTEFACTOS  */
@media (min-width: 600px) {
  .main-artefactos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "mondstand liyue inazuma";
  }
  .main-artefactos .mondstand {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "titulo titulo" "pos_1 pos_2" "pos_3 pos_4" "pos_5 pos_6" "pos_7 pos_8";
  }
  .main-artefactos .liyue {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "titulo titulo" "pos_1 pos_2" "pos_3 pos_4" "pos_5 pos_6" "pos_7 pos_8";
  }
  .main-artefactos .inazuma {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4.1fr);
    grid-template-areas: "titulo titulo" "pos_1 pos_2" "pos_3 pos_4" "pos_5 pos_6";
  }
}
/*  ARMAS */
@media (min-width: 600px) {
  .armas .cn_estrellas {
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas: "titulo titulo titulo titulo" "Apos_1 Apos_2 Apos_3 Apos_4" "Apos_5 Apos_6 Apos_7 Apos_8" "Apos_9 Apos_10 Apos_11 Apos_12" "Apos_13 Apos_14 Apos_15 Apos_16" "Apos_17 Apos_18 Apos_19 Apos_20" "Apos_21 Apos_22 Apos_23 Apos_24" "Apos_25 Apos_26 Apos_27 Apos_28" "Apos_29 . . .";
  }
}
@media (min-width: 600px) {
  .anemo .p_1 {
    width: 120px;
    height: 120px;
  }
  .anemo .p_2 {
    width: 120px;
    height: 120px;
  }
  .anemo .p_3 {
    width: 120px;
    height: 120px;
  }
  .anemo .p_4 {
    width: 120px;
    height: 120px;
  }
  .anemo .p_5 {
    width: 120px;
    height: 120px;
  }
  .anemo .p_6 {
    width: 120px;
    height: 120px;
  }
  .pyro .p_1 {
    width: 120px;
    height: 120px;
  }
  .pyro .p_2 {
    width: 120px;
    height: 120px;
  }
  .pyro .p_3 {
    width: 120px;
    height: 120px;
  }
  .pyro .p_4 {
    width: 120px;
    height: 120px;
  }
  .pyro .p_5 {
    width: 120px;
    height: 120px;
  }
  .pyro .p_6 {
    width: 120px;
    height: 120px;
  }
  .pyro .p_7 {
    width: 120px;
    height: 120px;
  }
  .pyro .p_8 {
    width: 120px;
    height: 120px;
  }
  .pyro .p_9 {
    width: 120px;
    height: 120px;
  }
  .pyro .p_10 {
    width: 120px;
    height: 120px;
  }
  .hydro .p_1 {
    width: 120px;
    height: 120px;
  }
  .hydro .p_2 {
    width: 120px;
    height: 120px;
  }
  .hydro .p_3 {
    width: 120px;
    height: 120px;
  }
  .hydro .p_4 {
    width: 120px;
    height: 120px;
  }
  .hydro .p_5 {
    width: 120px;
    height: 120px;
  }
  .hydro .p_6 {
    width: 120px;
    height: 120px;
  }
  .hydro .p_7 {
    width: 120px;
    height: 120px;
  }
  .cryo .p_1 {
    width: 120px;
    height: 120px;
  }
  .cryo .p_2 {
    width: 120px;
    height: 120px;
  }
  .cryo .p_3 {
    width: 120px;
    height: 120px;
  }
  .cryo .p_4 {
    width: 120px;
    height: 120px;
  }
  .cryo .p_5 {
    width: 120px;
    height: 120px;
  }
  .cryo .p_6 {
    width: 120px;
    height: 120px;
  }
  .cryo .p_7 {
    width: 120px;
    height: 120px;
  }
  .cryo .p_8 {
    width: 120px;
    height: 120px;
  }
  .cryo .p_9 {
    width: 120px;
    height: 120px;
  }
  .cryo .p_10 {
    width: 120px;
    height: 120px;
  }
  .electro .p_1 {
    width: 120px;
    height: 120px;
  }
  .electro .p_2 {
    width: 120px;
    height: 120px;
  }
  .electro .p_3 {
    width: 120px;
    height: 120px;
  }
  .electro .p_4 {
    width: 120px;
    height: 120px;
  }
  .electro .p_5 {
    width: 120px;
    height: 120px;
  }
  .electro .p_6 {
    width: 120px;
    height: 120px;
  }
  .electro .p_7 {
    width: 120px;
    height: 120px;
  }
  .electro .p_8 {
    width: 120px;
    height: 120px;
  }
  .electro .p_9 {
    width: 120px;
    height: 120px;
  }
  .geo .p_1 {
    width: 120px;
    height: 120px;
  }
  .geo .p_2 {
    width: 120px;
    height: 120px;
  }
  .geo .p_3 {
    width: 120px;
    height: 120px;
  }
  .geo .p_4 {
    width: 120px;
    height: 120px;
  }
  .geo .p_5 {
    width: 120px;
    height: 120px;
  }
  .geo .p_6 {
    width: 120px;
    height: 120px;
  }
  .geo .p_7 {
    width: 120px;
    height: 120px;
  }
}
@media (min-width: 950px) {
  .armas .cn_estrellas {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas: "titulo titulo titulo titulo titulo" "Apos_1 Apos_2 Apos_3 Apos_4 Apos_5" "Apos_6 Apos_7 Apos_8 Apos_9 Apos_10" "Apos_11 Apos_12 Apos_13 Apos_14 Apos_15" "Apos_16 Apos_17 Apos_18 Apos_19 Apos_20" "Apos_21 Apos_22 Apos_23 Apos_24 Apos_25" "Apos_26 Apos_27 Apos_28 Apos_29 .";
  }
}
/*  NOTICIAS    */
@media (min-width: 600px) {
  .noticias .n_1 {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "img img titulo titulo titulo" "img img titulo titulo titulo";
  }
  .noticias .n_1 h2 {
    margin-top: 20vw;
    text-align: center;
    top: 50px;
  }
  .noticias .n_2 {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "img img titulo titulo titulo" "img img titulo titulo titulo";
  }
  .noticias .n_2 h2 {
    margin-top: 20vw;
    text-align: center;
    top: 50px;
  }
  .noticias .n_3 {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "img img titulo titulo titulo" "img img titulo titulo titulo";
  }
  .noticias .n_3 h2 {
    margin-top: 20vw;
    text-align: center;
    top: 50px;
  }
  .noticias .n_4 {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "img img titulo titulo titulo" "img img titulo titulo titulo";
  }
  .noticias .n_4 h2 {
    margin-top: 20vw;
    text-align: center;
    top: 50px;
  }
  .noticias .n_5 {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "img img titulo titulo titulo" "img img titulo titulo titulo";
  }
  .noticias .n_5 h2 {
    margin-top: 20vw;
    text-align: center;
    top: 50px;
  }
  .noticias .n_6 {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "img img titulo titulo titulo" "img img titulo titulo titulo";
  }
  .noticias .n_6 h2 {
    margin-top: 20vw;
    text-align: center;
    top: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
