    /*Bucle*/
.main-artefactos{
    .mondstand{
        @for $i from 1 to 9 {
            .mpos_#{$i}{
                padding: 5px;
                img{
                    grid-area:pos_#{$i};
                    width: 90%;
                    height: 90%;
                }
            }
        }
    }
    .liyue{
        @for $i from 1 to 9 {
            .lpos_#{$i}{
                padding: 5px;
                img{
                    grid-area:pos_#{$i} ;
                    width: 90%;
                    height: 90%;
                }
            }
        }
    }
    .inazuma{
        @for $i from 1 to 7 {
            .ipos_#{$i}{
                padding: 5px;
                img{
                    grid-area: pos_#{$i};
                    width: 90%;
                    height: 90%;
                }
            }
        }
    }
}

   /* Estrucura de la pagina */
    .grids{
        padding: 25px;
        gap: 5px;
        justify-items: center;
        align-items: center;
        h2{
            grid-area: titulo;
            color: white;
            text-shadow: 0 0 10px black;
        }
    }
    
.main-artefactos{
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: repeat(3,1fr);
    gap: 5px ;
    grid-template-areas: 
    "mondstand"
    "liyue"
    "inazuma";
        /*seccion*/
    section{ 
        background-color: rgba(0, 0, 0, 0.384);
        background-size: 100%;
    }
    .mondstand{
        grid-area: mondstand;
        display: grid; 
        grid-template-columns: repeat(4,1fr); 
        grid-template-rows: 1fr 2fr 2fr;
        grid-template-areas: 
        "titulo titulo titulo titulo"
        "pos_1 pos_2 pos_3 pos_4"
        "pos_5 pos_6 pos_7 pos_8"; 
        @extend .grids;
    }
    /*seccion*/
    .liyue{
        grid-area: liyue;
        display: grid; 
        grid-template-columns: repeat(4,1fr); 
        grid-template-rows: 1fr 2fr 2fr; 
        grid-template-areas: 
        "titulo titulo titulo titulo"
        "pos_1 pos_2 pos_3 pos_4"
        "pos_5 pos_6 pos_7 pos_8";
        @extend .grids;
    }
    /*seccion*/
    .inazuma{
        grid-area: inazuma;
        display: grid; 
        grid-template-columns: repeat(3,1fr); 
        grid-template-rows: 1fr 2fr 2fr;
        grid-template-areas: 
        "titulo titulo titulo "
        "pos_1 pos_2 pos_3 "
        "pos_4 pos_5 pos_6";
        @extend .grids;
    }
}
