.tarjeta_personaje{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 150px;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    
    header{
        grid-area: header;
        display: grid;
        grid-template-columns: 100px 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "boton nombre";
        a{
            grid-area: boton;
        }
        h1{
            grid-area: nombre;
        }
    }
}