*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Andika', sans-serif ;
}

.pagina{
    display: grid;
    grid-template-rows: 200px 1fr 200px;
    grid-template-columns: 100%;
    grid-template-areas: 
    "head"
    "main"
    "footer";
    header{
        grid-area: head;
        width:100%;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "titulo nav";
        background-color: #254692;
        gap: 0px 10px;
        padding: 10px;
        a{
            grid-area: titulo;
            padding: 2px;
            align-self: center;
            justify-self: center;
            h1{
                text-align: center;
                font-size: 3rem;
                text-decoration: underline;
                color: white;
                text-shadow: 0 0 15px black;
            }
        }
        
        .navegador{
            padding: 2px;
            grid-area:nav;
            align-self: center;
            ul{
                list-style-type: none;
                a{
                    color: white;
                    text-shadow: 0 0 15px black;
                    text-decoration: none;
                }
            }
        }
    }
    main{
        grid-area: main;            
        background-image: url(../img/home/fondo-pagina);
        background-size: cover;
        width: 100%;
    }
    footer{
        grid-area: footer;
        display: flex;
        flex-direction:row;
        justify-content: space-around;
        height: 100%;
        width:100%;
        background-color:rgba(71, 61, 139, 0.651);
        a{
            text-decoration: none;
            color: black;
            list-style-type: none;
        }
        section{
            justify-self: center;
            align-self: center;
            ul{
                list-style-type: none;
            }
        }
    }
}











