
    /*  Media queries del Layout    */

@media (min-width: 600px){
        .pagina{
            header{
                grid-template-columns: 1fr;
                grid-template-rows: repeat(2,1fr);
                grid-template-areas: 
                "titulo"
                "navegador";
                h1{
                    grid-area: titulo;
                    text-align: center;
                    font-size: 3rem;
                }
                .navegador{
                    grid-area: navegador;
                    ul{
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        li{
                            font-size: 1.5rem;
                            &:hover{
                                background-color: #2655c5;
                                border-radius: 15px;
                                padding: 3px;
                            }
                        }
                    }
                }
            }
            footer{
                height: 100%;
                h2{
                    font-size: 2rem;
                }
                section{
                    ul{
                        li{
                            font-size: 1.2rem;
                        }
                    }
                }
            }

        }
        /*  INDEX   */  
    main{
        &.index{
            @media (min-width: 1024px){
                padding: 15px;
                display: grid;
                gap: 0px 5px;
                width: 100%;
                height: 100%;
                grid-template-columns: repeat(8,1fr);
                grid-template-rows: repeat(5,1fr);
                grid-template-areas:
                "banner banner . . . . evento evento"
                "banner banner . . . . evento evento"     
                "banner banner trailer trailer trailer trailer evento evento"
                "banner banner trailer trailer trailer trailer evento evento"
                "banner banner trailer trailer trailer trailer evento evento";
                .banner{
                    grid-area: banner;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .eventos{
                    grid-area: evento;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .trailer{
                    grid-area: trailer;
                    iframe{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}


/*  ARTEFACTOS  */
@media (min-width: 600px){
    .main-artefactos{
        h2{
            font-size: 2.5rem;
        }
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 1fr;
        grid-template-areas: "mondstand liyue inazuma";
        .mondstand{
            grid-template-columns: repeat(2,1fr);
            grid-template-rows:1fr repeat(4,2fr);
            grid-template-areas: 
            "titulo titulo"
            "pos_1 pos_2"
            "pos_3 pos_4"
            "pos_5 pos_6"
            "pos_7 pos_8";
            @for $i from 1 to 9 {
                .mpos_#{$i}{
                    padding: 5px;
                    img{
                        width: 80px;
                        height: 80px;
                    }
                }
            }
        }
        .liyue{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: 1fr repeat(4,2fr);
            grid-template-areas: 
            "titulo titulo"
            "pos_1 pos_2"
            "pos_3 pos_4"
            "pos_5 pos_6"
            "pos_7 pos_8";
            @for $i from 1 to 9 {
                .lpos_#{$i}{
                    padding: 5px;
                    img{
                        width: 80px;
                        height: 80px;
                    }
                }
            }
        }
        .inazuma{
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: 1fr repeat(3,2fr);
            grid-template-areas: 
            "titulo titulo"
            "pos_1 pos_2"
            "pos_3 pos_4"
            "pos_5 pos_6";
            @for $i from 1 to 7 {
                .ipos_#{$i}{
                    padding: 5px;
                    img{
                        width: 80px;
                        height: 80px;
                    }
                }
            }
        }
    }
}
    /*  ARMAS */
@media (min-width: 600px){
    .armas{
        .cn_estrellas{
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(9,1fr);
        grid-template-areas: 
        "titulo titulo titulo titulo"
        "Apos_1 Apos_2 Apos_3 Apos_4"
        "Apos_5 Apos_6 Apos_7 Apos_8"
        "Apos_9 Apos_10 Apos_11 Apos_12"
        "Apos_13 Apos_14 Apos_15 Apos_16"
        "Apos_17 Apos_18 Apos_19 Apos_20"
        "Apos_21 Apos_22 Apos_23 Apos_24"
        "Apos_25 Apos_26 Apos_27 Apos_28"
        "Apos_29 . . .";
        }
    }
}
@media (min-width: 600px){
    .anemo{
        @for $i from 1 to 7{
            .p_#{$i}{
                width: 120px;
                height: 120px;
            }
        }
    }
    .pyro{
        @for $i from 1 to 11{
            .p_#{$i}{
                width: 120px;
                height: 120px;
            }
        }
    }
    .hydro{
        @for $i from 1 to 8{
            .p_#{$i}{
                width: 120px;
                height: 120px;
            }
        }
    }
    .cryo{
        @for $i from 1 to 11{
            .p_#{$i}{
                width: 120px;
                height: 120px;
            }
        }
    }
    .electro{
        @for $i from 1 to 10{
            .p_#{$i}{
                width: 120px;
                height: 120px;
            }
        }
    }
    .geo{
        @for $i from 1 to 8{
            .p_#{$i}{
                width: 120px;
                height: 120px;
            }
        }
    }
}

@media (min-width: 950px){
.armas{
    .cn_estrellas{
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: repeat(7,1fr);
        grid-template-areas: 
        "titulo titulo titulo titulo titulo"
        "Apos_1 Apos_2 Apos_3 Apos_4 Apos_5"
        "Apos_6 Apos_7 Apos_8 Apos_9 Apos_10"
        "Apos_11 Apos_12 Apos_13 Apos_14 Apos_15"
        "Apos_16 Apos_17 Apos_18 Apos_19 Apos_20"
        "Apos_21 Apos_22 Apos_23 Apos_24 Apos_25"
        "Apos_26 Apos_27 Apos_28 Apos_29 .";
    }
}
}


    /*  NOTICIAS    */
@media (min-width: 600px){
    .noticias{
        @for $i from 1 to 7{
            .n_#{$i}{
                grid-template-columns: repeat(5,1fr);
                grid-template-rows: repeat(2,1fr);
                grid-template-areas: 
                "img img titulo titulo titulo"
                "img img titulo titulo titulo";
                h2{
                    margin-top: 20vw;
                    text-align: center;
                    top:50px
                }
            }
        }
    }
}

    /*  Tarjetas de Personajes*/
    @media (min-width: 760px){
        .tarjeta_personaje{
        header{
            @include ajuste-tamano(100%,100%);
            grid-template-columns: repeat(5,1fr);
            grid-template-rows: 1fr;
            grid-template-areas: 
            "boton  nombre nombre nombre nombre";
            a{
                font-size: 2rem;
            }
            h1{
                font-size: 3rem;
                text-align: center;
            }
        }
        main{
            grid-template-columns: repeat(5,1fr);
            grid-template-rows: repeat(6,1fr);
            grid-template-areas: 
            "img img img img img"
            "img img img img img"
            "info info info info info"
            "artefactos artefactos prioridades prioridades prioridades"
            "talentos talentos constelacion constelacion constelacion"
            "armas armas sinergia sinergia sinergia";
            }
            .p_artefactos{
                p{
                    width: 90%;
                }
                .img_a{
                    img{
                        width: 100px;
                        height: 100px;
                    }
                }
            }
            .stats{
                padding: 5px;
                .reloj{
                    @include ajuste-tamano(100%,70%);
                    p{
                        strong{
                            font-size: 1.3rem;
                        }
                    }
                }
                .caliz{
                    @include ajuste-tamano(100%,70%);
                    p{
                        strong{
                            font-size: 1.3rem;
                        }
                    }
                }
                .corona{
                    @include ajuste-tamano(100%,70%);
                    p{
                        strong{
                            font-size: 1.3rem;
                        }
                    }
                }
            }
            .talentos{
                height: 90%;
            }
            .constelacion{
                align-self: center;
                justify-self: center;
                img{
                    @include ajuste-tamano(90%,90%);
                }
            }
            .grupos{
                padding:5px;
                .img{
                    text-align: center;
                    img{
                        @include ajuste-tamano(75px,75px);
                    }
                }
            }
        }
    }

    @media (min-width: 1020px){
        .tarjeta_personaje{
            header{
                div{
                    grid-template-columns: repeat(5,1fr);
                    grid-template-rows: 1fr;
                    grid-template-areas: "boton nombre nombre nombre nombre";
                    h1{
                        font-size: 3rem;
                        padding-right: 20%;
                    }
                    a{
                        font-size: 2rem;
                    }
                }
            }
            main{
                padding: 10px;
                grid-template-columns: repeat(8,1fr);
                grid-template-rows: repeat(5,1fr);
                grid-template-areas: 
                "img img img artefactos artefactos artefactos info info"
                "img img img prioridades prioridades prioridades constelacion constelacion"
                "img img img prioridades prioridades prioridades constelacion constelacion"
                "talentos talentos armas armas armas sinergia sinergia sinergia"
                "talentos talentos armas armas armas sinergia sinergia sinergia";
                h2{
                    font-size: 2rem;
                }
                .info{
                    justify-self: center;
                    align-self: center;
                    strong{
                        text-align: center;
                        font-size: 1.3rem;
                    }
                }
                .p_artefactos{
                    p{
                        width: 90%;
                    }
                    .img_a{
                        text-align: center;
                        img{
                            width: 100px;
                            height: 100px;
                        }
                    }
                }
                .stats{
                    .reloj{
                        img{
                            @include ajuste-tamano(80px,80px);
                        }
                        p{
                            strong{
                                font-size: 1.2rem;
                            }
                        }
                    }
                    .caliz{
                        img{
                            @include ajuste-tamano(80px,80px);
                        }
                        p{
                            strong{
                                font-size: 1.2rem;
                            }
                        }
                    }
                    .corona{
                        img{
                            @include ajuste-tamano(80px,80px);
                        }
                        p{
                            strong{
                                font-size: 1.2rem;
                            }
                        }
                    }
                    p.texto{
                        strong{
                            font-size: 1.2rem;
                        }
                    }
                }
                
                .talentos{
                    .talento{
                        padding-inline: 50px;
                    }
                    .pasivas{
                        padding-inline: 50px;
                    }
                    @each $i in ( p, t) {
                        @for $j from 1 to 4 {
                            .#{$i}#{$j}{
                                @include ajuste-tamano(80px,80px);
                            }
                        }
                    }
                }
                .constelacion{
                    img{
                        @include ajuste-tamano(85%,85%);
                    }
                }
                .armas{
                    .img{
                        img{
                            @include ajuste-tamano(120px,120px);
                        }
                    }
                }
                .grupos{
                    .img{
                        width: 100%;
                        text-align: center;
                        img{
                            @include ajuste-tamano(80px,80px);
                        }
                    }
                }
            }
        }
    }
        /*  Registro*/
        @media (min-width: 760px){
            .registro{
                grid-template-columns: 2fr 1fr 3fr 1fr 2fr;
                grid-template-rows: 1fr repeat(2,2fr);
                grid-template-areas: 
                "titulo titulo titulo titulo titulo"
                "c2 . form . c1"
                "c4 . form . c3";
                label{
                    font-size: 1.2rem;
                    text-align: center;
                    input{
                        margin-left: 7%;
                    }
                    #campo_opinion{
                        margin-left: 5%;
                    }
                }
                h2{
                    font-size: 2rem;
                }
                .boton{
                    align-self: center;
                    justify-self: center;
                }
            }
        }
        @media (min-width: 1020px){
            .registro{
                h2{
                    font-size: 2.5rem;
                    padding: 20px;
                }
                label{
                    font-size: 1.5rem;
                    input{
                        margin-left: 26%;
                    }
                    #campo_opinion{
                        margin-left: 26%;
                    }
                }
                #campo_opcion{
                    margin-left: 0%;
                }
                .boton{
                    font-size: 0.9rem;
                }
            }
        }