
    /*  Media queries del Layout    */
    body{
        @media (min-width: 600px){
            header{
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(2,1fr);
                grid-template-areas: 
                "titulo"
                "navegador";
                h1{
                    grid-area: titulo;
                    text-align: center;
                    font-size: 2.5rem;
                }
                .navegador{
                    grid-area: navegador;
                    ul{
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        li{
                            font-size: 1.5rem;
                            &:hover{
                                background-color: #2655c5;
                                border-radius: 15px;
                                padding: 3px 6px;
                            }
                        }
                    }
                }
            }
            footer{
                height: 100%;
                h2{
                    font-size: 1.5rem;
                }
            }

        }
        /*  INDEX   */  
    main{
        &.index{
            @media (min-width: 480px){
                padding: 15px;
                display: grid;
                gap: 0px 5px;
                width: 100%;
                height: 100%;
                grid-template-columns: repeat(8,1fr);
                grid-template-rows: repeat(5,1fr);
                grid-template-areas:
                "banner banner . . . . evento evento"
                "banner banner . . . . evento evento"     
                "banner banner trailer trailer trailer trailer evento evento"
                "banner banner trailer trailer trailer trailer evento evento"
                "banner banner trailer trailer trailer trailer evento evento";
                .banner{
                    grid-area: banner;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .eventos{
                    grid-area: evento;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .trailer{
                    grid-area: trailer;
                    iframe{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}

/*  ARTEFACTOS  */
@media (min-width: 600px){
    .main-artefactos{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 1fr;
        grid-template-areas: "mondstand liyue inazuma";
        .mondstand{
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(5,1fr);
            grid-template-areas: 
            "titulo titulo"
            "pos_1 pos_2"
            "pos_3 pos_4"
            "pos_5 pos_6"
            "pos_7 pos_8";
        }
        .liyue{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(5,1fr);
            grid-template-areas: 
            "titulo titulo"
            "pos_1 pos_2"
            "pos_3 pos_4"
            "pos_5 pos_6"
            "pos_7 pos_8";
        }
        .inazuma{
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(4.1fr);
            grid-template-areas: 
            "titulo titulo"
            "pos_1 pos_2"
            "pos_3 pos_4"
            "pos_5 pos_6";
        }
    }
}
    /*  ARMAS */
@media (min-width: 600px){
    .armas{
        .cn_estrellas{
            align-items: center;
            justify-content: center;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(9,1fr);
        grid-template-areas: 
        "titulo titulo titulo titulo"
        "Apos_1 Apos_2 Apos_3 Apos_4"
        "Apos_5 Apos_6 Apos_7 Apos_8"
        "Apos_9 Apos_10 Apos_11 Apos_12"
        "Apos_13 Apos_14 Apos_15 Apos_16"
        "Apos_17 Apos_18 Apos_19 Apos_20"
        "Apos_21 Apos_22 Apos_23 Apos_24"
        "Apos_25 Apos_26 Apos_27 Apos_28"
        "Apos_29 . . .";
        }
    }
}
@media (min-width: 600px){
    .anemo{
        @for $i from 1 to 7{
            .p_#{$i}{
                width: 120px;
                height: 120px;
            }
        }
    }
    .pyro{
        @for $i from 1 to 11{
            .p_#{$i}{
                width: 120px;
                height: 120px;
            }
        }
    }
    .hydro{
        @for $i from 1 to 8{
            .p_#{$i}{
                width: 120px;
                height: 120px;
            }
        }
    }
    .cryo{
        @for $i from 1 to 11{
            .p_#{$i}{
                width: 120px;
                height: 120px;
            }
        }
    }
    .electro{
        @for $i from 1 to 10{
            .p_#{$i}{
                width: 120px;
                height: 120px;
            }
        }
    }
    .geo{
        @for $i from 1 to 8{
            .p_#{$i}{
                width: 120px;
                height: 120px;
            }
        }
    }
}

    /*  NOTICIAS    */
@media (min-width: 600px){
    .noticias{
        @for $i from 1 to 7{
            .n_#{$i}{
                grid-template-columns: repeat(5,1fr);
                grid-template-rows: repeat(2,1fr);
                grid-template-areas: 
                "img img titulo titulo titulo"
                "img img titulo titulo titulo";
                h2{
                    margin-top: 20vw;
                    text-align: center;
                    top:50px
                }
            }
        }
    }
}