    /*  EXTENDS  */
.detalles{
    background-color: rgba(0, 0, 0, 0.384);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 10px;
    margin:15px 0px;
    gap:5px;
}
.titulo{
    grid-area: titulo;
    text-align: center;
    font-size: 2rem;
    text-decoration: underline;
    color:black;
    text-shadow: 0 0 15px white;
}
.div{
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.267);
    justify-self: center;
    align-self: center;
}
    /*  PAGINA  */
.personajes{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6,1fr);
    grid-template-areas: 
    "anemo"
    "pyro"
    "electro"
    "geo"
    "hydro"
    "pyro";

    .anemo{
        grid-area: anemo;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
        grid-template-areas: 
        "titulo titulo titulo"
        "p_1 p_2 p_3"
        "p_4 p_5 p_6";
        background-image: url(../Img/personajes/anemo/Anemo.png);
        @extend .detalles;
        h2{
            @extend .titulo;
        }
        @for $i from 1 to 7{
            .p_#{$i}{
                @extend .div;
                img{
                    grid-area:p_#{$i};
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    .pyro{
        grid-area: pyro;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(4,1fr);
        grid-template-areas: 
        "titulo titulo titulo titulo"
        "p_1 p_2 p_3 p_4"
        "p_5 p_6 p_7 p_8"
        "p_9 p_10 . . ";
        background-image: url(../Img/personajes/pyro/Pyro.png);
        @extend .detalles;
        h2  {
            @extend .titulo;
        }
        @for $i from 1 to 11 {
            .p_#{$i}{
                @extend .div;
                img{
                    grid-area: p_#{$i};
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    
    .hydro{
        grid-area:hydro;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(3,1fr);
        grid-template-areas: 
        "titulo titulo titulo titulo"
        "p_1 p_2 p_3 p_4"
        "p_5 p_6 p_7 .";
        background-image: url(../Img/personajes/hydro/Hydro.png);
        @extend .detalles;
        h2{
            @extend .titulo;
        }
        @for $i from 1 to 8 {
            .p_#{$i}{
                @extend .div;
                img{
                    grid-area:p_#{$i};
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    .cryo{
        grid-area: cryo;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(4,1fr);
        grid-template-areas: 
        "titulo titulo titulo titulo"
        "p_1 p_2 p_3 p_4"
        "p_5 p_6 p_7 p_8"
        "p_9 p_10 . .";
        background-image: url(../Img/personajes/cryo/Cryo.png);
        @extend .detalles;
        h2{
            @extend .titulo;
        }
        @for $i from 1 to 11 {
            .p_#{$i}{
                @extend .div;
                img{
                    grid-area:p_#{$i};
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    .electro{
        grid-area: electro;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(4,1fr);
        grid-template-areas: 
        "titulo titulo titulo titulo"
        "p_1 p_2 p_3 p_4"
        "p_5 p_6 p_7 p_8"
        "p_9 . . .";
        background-image: url(../Img/personajes/electro/Electro.png);
        @extend .detalles;
        h2{
            @extend .titulo;
        }
        @for $i from 1 to 10{
            .p_#{$i}{
                @extend .div;
                img{
                    grid-area:p_#{$i};
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    .geo{
        grid-area: geo;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(3,1fr);
        grid-template-areas: 
        "titulo titulo titulo titulo"
        "p_1 p_2 p_3 p_4"
        "p_5 p_6 p_7 .";
        background-image: url(../Img/personajes/geo/Geo.png);
        @extend .detalles;
        h2{
            @extend .titulo;
        }
        @for $i from 1 to 8{
            .p_#{$i}{
                @extend .div;
                img{
                    grid-area: p_#{$i};
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}