
.registro{
    display: grid;
    padding-block: 20px;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: "titulo titulo titulo" ". form .";
    h2{
        grid-area: titulo;
        color: white;
        align-self: center;
        text-align: center;
    }
    .form{
        grid-area: form;
    }

}