.tarjeta_personaje{
    header{
        .anemo{
            background-color:map-get($fondos_elementos,anemo);
        }
        .cryo{
            background-color:map-get($fondos_elementos,cryo);
        }
        .electro{
            background-color:map-get($fondos_elementos,electro);
        }
        .geo{
            
            background-color:map-get($fondos_elementos,geo);
        }
        .hydro{
            background-color:map-get($fondos_elementos,hydro);
        }
        .pyro{
            background-color:map-get($fondos_elementos,pyro);
        }
    }
}
.centrar{
    justify-self: center;
    align-self: center;
}
@mixin ajuste-tamano ($width, $heigth) {
    width: $width;
    height: $heigth;
}
.fondo{
    padding: 15px 20px;
    @extend .centrar;
    border-radius: 20px;
    background-color: rgba(128, 128, 128, 0.452);
}
.tarjeta_personaje{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 150px;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    
    header{
        grid-area: header;
        div{
            display: grid;
            @include ajuste-tamano(100%,100%);
            grid-template-columns: 100px 1fr;
            grid-template-rows: 1fr;
            justify-content: center;
            align-items: center;
            grid-template-areas: "boton nombre";
            a{
                grid-area: boton;
                font-size: 1rem;
                border: 3px solid black;
                border-radius: 8px;
                justify-self: center;
                padding: 5px;
                text-decoration: none;
                color: black;
            }
            h1{
                grid-area: nombre;
                font-size: 2rem;
                text-decoration: none;
                @extend .centrar;
            }
        }
    }

    main{
        display: grid;
        width: 100%;
        gap: 10px 0px;
        grid-template-columns: 100%;
        grid-template-rows: 3fr repeat(2,1.5fr) 1fr 1.5fr 1.5fr 2fr 3fr;
        grid-template-areas: 
        "img"
        "info"
        "artefactos"
        "prioridades"
        "talentos"
        "constelacion"
        "armas"
        "sinergia";
        .personaje{
            grid-area: img;
            padding: 20px;
            width: 85%;
            height: 85%;
            @extend .fondo;
            @extend .centrar;
            background-color: rgba(0, 0, 0, 0.600);
        }
        .info{
            width: 99%;
            grid-area: info;
            @extend .fondo;
            text-align: center;
            align-self: center;
            padding: 30px;
            font-size: 1.3rem;
        }
        .p_artefactos{
            grid-area: artefactos;
            display: grid;
            width: 100%;
            padding-top: 20px;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 2fr;
            grid-template-areas: "titulo" "img";
            p{
                grid-area: titulo;
                text-align: center;
                align-self: center;
                font-size: 1.6rem;
                @extend .fondo;
            }
            .img_a{
                grid-area: img;
                @extend .centrar;
                img{
                padding: 5px;
                margin: 5px;
                background-color:darkgrey;
                border-radius: 20px;
                width: 80px;
                height: 80px;
                }
            }
        }
        .stats{
            grid-area: prioridades;
            display: grid;
            width: 100%;
            grid-template-columns: repeat(2,1fr) 1.2fr;
            grid-template-rows: 4fr 1fr;
            gap: 0px 5px;
            grid-template-areas:
            "reloj caliz corona"
            "texto texto texto";
            @include ajuste-tamano(100%,90%);
            .reloj{
                grid-area:reloj;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 2fr 1fr;
                grid-template-areas: "img" "p";
                text-align: center;
                padding: 10px;
                @extend .fondo;
                img{
                    grid-area: img;
                    @extend .centrar;
                }
                p{
                    grid-area: p;
                    @extend .centrar;
                    @include ajuste-tamano(100%,100%);
                    font-size: 0.8rem;
                }
            }
            .caliz{
                grid-area: caliz;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 2fr 1fr;
                grid-template-areas: "img" "p";
                text-align: center;
                padding: 10px;
                @extend .fondo;
                img{
                    grid-area: img;
                    @extend .centrar;
                }
                p{
                    grid-area: p;
                    @extend .centrar;
                    @include ajuste-tamano(100%,100%);
                    font-size: 0.8rem;
                }
            }
            .corona{
                grid-area: corona;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 2fr 1fr;
                grid-template-areas: "img" "p";
                text-align: center;
                padding: 10px;
                @extend .fondo;
                img{
                    @extend .centrar;
                    grid-area: img;
                }
                p{
                    grid-area: p;
                    @extend .centrar;
                    @include ajuste-tamano(100%,100%);
                    font-size: 0.8rem;
                }
            }
            p.texto{
                grid-area: texto;
                text-align: center;
                font-size: 1.2rem;
                @extend .centrar;
                strong{
                    border: 2px solid black;
                    padding: 10px;
                    width: 100%;
                    border-radius: 15px;
                    @extend .fondo;
                }
            }
        }
        .talentos{
            width: 100%;
            grid-area: talentos;
            display: grid;
            padding: 5px;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: 0.5fr 1fr 0.5fr 1fr;
            grid-template-areas:
            "talento talento talento"
            "t1 t2 t3"
            "pasiva pasiva pasiva" 
            "p1 p2 p3";
            .talento{
                grid-area: talento;
                text-align: center;
                @extend .fondo;
            }
            .t1{
                grid-area: t1;
                @extend .centrar;
                @include ajuste-tamano(60px,60px);
            }
            .t2{
                grid-area: t2;
                @extend .centrar;
                @include ajuste-tamano(60px,60px);
            }
            .t3{
                grid-area: t3;
                @extend .centrar;
                @include ajuste-tamano(60px,60px);
            }
            .pasivas{
                grid-area: pasiva;
                text-align: center;
                @extend .fondo;
            }
            .p1{
                grid-area: p1;
                @extend .centrar;
                @include ajuste-tamano(60px,60px);
            }
            .p2{
                grid-area: p2;
                @extend .centrar;
                @include ajuste-tamano(60px,60px);
            }
            .p3{
                grid-area: p3;
                @extend .centrar;
                @include ajuste-tamano(60px,60px);
            }
        }
        .constelacion{
            grid-area: constelacion;
            display: grid;
            width: 100%;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 4fr;
            grid-template-areas: "titulo" "img";
            h2{
                grid-area: titulo;
                @extend .centrar;
                @extend .fondo;
            }
            img{
                grid-area: img;
                padding: 10px;
                @extend .centrar;
                @include ajuste-tamano(200px,100%);
            }
        }
        .armas{
            grid-area: armas;
            width: 100%;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 3fr;
            grid-template-areas: "titulo""armas";
            h2{
                grid-area: titulo; 
                font-size: 1.5rem;
                @extend .centrar;
                @extend .fondo;
            }
            .img{
                grid-area: armas;
                @extend .centrar;
                padding-inline: 10%;
                text-align: center;
                img{
                    padding: 5px;
                    margin: 5px;
                    background-color:darkgrey;
                    border-radius: 20px;
                    @include ajuste-tamano(110px,110px);
                }
            }
        }
        .grupos{
            width: 100%;
            grid-area: sinergia;
            display: grid;
            padding: 20px;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 3fr;
            grid-template-areas: "titulo" "img";
            h2{
                grid-area: titulo;
                text-align: center;
                align-self: center;
                font-size: 1.5rem;
                @extend .fondo;
            }
            .img{
                grid-area: img;
                @extend .centrar;
                img{
                    padding: 5px;
                    margin: 5px;
                    background-color:darkgrey;
                    border-radius: 20px;
                }
            }
        }
        background-color: rgba(0, 0, 0, 0.600);
    }
    background-image: url(../Img/home/fondo-pagina);
    background-repeat: no-repeat;
    background-size: cover;
    footer{
        grid-area: footer;
        display: flex;
        flex-direction:row;
        justify-content: space-around;
        padding: 10px;
        height: 100%;
        width:100%;
        background-color:rgba(71, 61, 139, 0.753);
        h2{
            font-size: 1.8rem;
        }
        a{
            text-decoration: none;
            color: black;
        }
    }
}